@import url("https://fonts.googleapis.com/css?family=Oxanium|PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio&family=Bebas+Neue&family=Carter+One&family=Exo+2&family=Fjalla+One&family=Luckiest+Guy&family=Orbitron&family=Oswald&family=Phudu&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Climate+Crisis&family=Playfair+Display&family=Sen&family=Vollkorn&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --primary-color: dodgerblue;
  --select-color: dodgerblue;
  --success: rgb(15, 158, 2);
  --danger: rgb(214, 23, 23);
}

body {
  margin: 0;
  font-family: PT Mono, sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #74fa9e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%230b0514' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");}

.game-container {
  border: 1px solid black;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  width: 530px;
  height: 750px;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  user-select: none;
  margin-top: 100px;
}

.header {
  background: var(--primary-color);
  color: white;
  font-family: Oxanium, sans-serif;
  font-size: 24px;
  text-shadow: 1px 2px 2px black;
  letter-spacing: 2px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 5px auto 10px;
  height: 600px;
}

/* Splash Page -------------------- */
input[type="radio"] {
  opacity: 0;
  width: 100%;
  height: 75px;
  position: relative;
  top: -40px;
  cursor: pointer;
  z-index: 2;
}

.selection-container {
  position: relative;
  top: 65px;
}

.radio-container {
  width: 90%;
  height: 75px;
  margin: 25px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
}

label {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 30px;
}

.selected-label {
  background: var(--select-color);
  color: white;
}

.best-score {
  position: relative;
  top: -100px;
  left: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  max-width: fit-content;
}

.best-score span {
  margin: 0;
}

.best-score span:last-child {
  font-size: 24px;
}

.selection-footer {
  top: 134px;
}

/* Game Page -------------------------- */
.height-240 {
  height: 240px;
  width: 100%;
}

.height-500 {
  height: 500px;
  width: 100%;
}

.item-container {
  height: 552px;
  overflow-y: scroll;
  position: relative;
  -ms-overflow-style: none;
}

.item-container::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 80px;
  margin: 0 50px;
  user-select: none;
}

.finished > h1 {
  opacity: 0.5;
}

.selected-item {
  background: var(--select-color);
  position: fixed;
  top: 443px;
  z-index: -1;
  width: 529px;
  height: 80px;
}

.item-footer,
.selection-footer {
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-footer {
  top: 1px;
}

button {
  cursor: pointer;
  height: 50px;
  border-radius: 5px;
  font-size: 25px;
  font-family: Oxanium, sans-serif;
  color: white;
  border: none;
  outline: none;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: scale(0.99);
}

.wrong,
.right {
  width: 40%;
}

.wrong {
  background: var(--danger);
  margin-right: 25px;
}

.right {
  background: var(--success);
}

.start,
.play-again {
  width: 90%;
  background: var(--primary-color);
}

/* Countdown Page ---------------------- */
.countdown {
  margin-top: 45%;
  font-size: 100px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

/* Score Page ------------------------- */
.score-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
}

.title {
  font-size: 45px;
}

.final-time {
  font-size: 100px;
  margin: 0;
  color: var(--success);
}

.base-time {
  margin-top: 100px;
  margin-bottom: 0;
}

.penalty-time {
  color: var(--danger);
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .game-container {
    margin-top: 35px;
  }

  .selected-item {
    top: 380px;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  .game-container {
    width: 100%;
    margin-top: 0;
    border: none;
  }

  .selected-item {
    top: 345px;
  }

  .header {
    font-size: 1.2rem;
  }

  .countdown {
    margin-top: 60%;
  }

  .selection-container {
    top: 100px;
  }

  .radio-container {
    width: 93%;
    margin: 15px;
  }

  label {
    font-size: 1.7rem;
  }

  .best-score {
    font-size: 1rem;
    left: 245px;
  }

  .selection-footer {
    top: 183px;
  }
}

/* Media Query: iPhone */
@media screen and (max-width: 376px) {
  .best-score {
    left: 232px;
  }
}



/* My Styles */

.hidden {
  display: none;
}




/* MY STYLES */

.section-title {
  font-family: 'Righteous';
  text-shadow: 2px 2px 10px rgba(214, 112, 112, 0.5), 2px 3px 10px rgba(192, 89, 89, 0.5), 2px 4px 10px rgba(200, 127, 127, 0.5);
  color: rgb(6, 143, 217);
  -webkit-text-stroke: 2px black;
  font-size: 3rem;
}

.section-title-red {

  font-family: 'Righteous';
  text-shadow: 2px 2px 10px rgba(214, 112, 112, 0.5), 2px 3px 10px rgba(192, 89, 89, 0.5), 2px 4px 10px rgba(200, 127, 127, 0.5);
  color: rgb(252, 7, 7);
  -webkit-text-stroke: 2px black;
  font-size: 3rem;




}
.section-title-green {

font-family: 'Righteous';
text-shadow: 2px 2px 10px rgba(122, 214, 112, 0.5), 2px 3px 10px rgba(181, 231, 96, 0.5), 2px 4px 10px rgba(149, 224, 117, 0.5);
color: rgb(32, 252, 7);
-webkit-text-stroke: 2px black;
font-size: 30px;
text-align: center;




}


.section-title-yellow {
  text-align: center;
  font-family: 'Righteous';
  text-shadow: 2px 2px 10px rgba(112, 129, 214, 0.5), 2px 3px 10px rgba(89, 110, 192, 0.5), 2px 4px 10px rgba(132, 127, 200, 0.5);
  color: rgb(252, 232, 7);
  -webkit-text-stroke: 2px black;
  font-size: 3rem;




}


.section-title-pink {
text-align: center;
font-family: 'Righteous';
text-shadow: 2px 2px 10px rgba(241, 156, 246, 0.5), 2px 3px 10px rgba(217, 118, 235, 0.5), 2px 4px 10px rgba(234, 85, 247, 0.5);
color: rgb(236, 161, 202);
-webkit-text-stroke: 2px white;
font-size: 3rem;

}

.section-title-pinkblack {
text-align: center;
font-family: 'Righteous';
text-shadow: 2px 2px 10px rgba(12, 4, 12, 0.44), 2px 3px 10px rgba(10, 6, 11, 0.5), 2px 4px 10px rgba(10, 5, 10, 0.5);
color: rgb(236, 161, 202);
-webkit-text-stroke: 2px black;
font-size: 3rem;

}

.sub-title {
  font-family: 'Righteous';
  text-shadow: 2px 2px 10px rgba(90, 151, 220, 0.5), 2px 3px 10px rgba(71, 147, 214, 0.5), 2px 4px 10px rgba(21, 143, 236, 0.5);
  color: rgb(214, 72, 72);
  -webkit-text-stroke: 2px black;
  text-align: center;
  font-size: 2rem;
}

.font1 {

  font-family: 'Bebas Neue';
  text-shadow: 2px 2px 10px rgba(90, 151, 220, 0.5), 2px 3px 10px rgba(71, 147, 214, 0.5), 2px 4px 10px rgba(21, 143, 236, 0.5);
  color: rgb(214, 72, 72);
  -webkit-text-stroke: 2px black;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .3rem;

}


.font2 { 
  font-family: 'Carter One';
  text-shadow: 2px 2px 10px rgba(214, 112, 112, 0.5), 2px 3px 10px rgba(192, 89, 89, 0.5), 2px 4px 10px rgba(200, 127, 127, 0.5);
  color: rgb(6, 143, 217);
  text-align: center;
  -webkit-text-stroke: 2px black;
  font-size: 1.3rem;
  letter-spacing: .1rem;
}

.font3 { 
  font-family: 'Phudu';
  text-shadow: 2px 2px 10px rgba(112, 204, 214, 0.5), 2px 3px 10px rgba(31, 239, 229, 0.5), 2px 4px 10px rgba(37, 236, 243, 0.5);
  color: rgb(238, 251, 0);
  text-align: center;
  -webkit-text-stroke: 2px black;
  font-size: 1.3rem;
  letter-spacing: .1rem;
}


.fontaqua {

  font-family: 'Bebas Neue';
  text-shadow: 2px 2px 10px rgba(112, 204, 214, 0.5), 2px 3px 10px rgba(31, 239, 229, 0.5), 2px 4px 10px rgba(37, 236, 243, 0.5);
  color: aqua;
  text-align: center;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.492);
  font-size: 1.3rem;
  letter-spacing: .1rem;

}

.hr {
  margin: 1rem 0;
  padding: .2rem;
  background: linear-gradient(black,red,pink, red,black);
  border: 2px solid white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.771);
}

.hr-city {

  margin: 1rem 0;
  padding: .5rem;
  height: 5px;
  background-color: red;
  background-blend-mode: multiply;
  background: url(https://cdn.pixabay.com/photo/2023/02/09/16/36/bridge-7779222_960_720.jpg);
  border: 3px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.771);

}

.booty {
  background: url(https://images-cdn.9gag.com/photo/ad6bobV_700b.jpg);
  padding: 3rem .5rem;
  border-radius: 25px;
  margin: 1rem auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.737);
  background-blend-mode: multiply;
  background-color: rgba(255, 166, 0, 0.663);
  background-size: 400px;

}

section {
  padding: 2.5rem 0;
}

@media (min-width: 40em) {
  section {
    padding: 3.5rem 0;
  }
}



.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.split {
  display: flex;
  flex-direction: column;
}

.split > * + * {
  margin: 4rem 0 0 0;
}

.split > * {
  flex-basis: 100%;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * + * {
    margin: 0 0 0 2.5rem;
  }
}

.xl-space {
  margin-top: 5rem;
}



 .form-control {
  border: 3px inset black;
  
}

